nav ul {
    padding-inline: 4rem;
    display: flex;
  }
   
  nav li {
    list-style-type: none;
    margin-right: 20px;
  }
   
  nav {
    background-color: #00a2c6;
    padding: 5px;
   
    position: sticky;
    top: 0;
  }
  
  nav ul {
    padding-inline: 4rem;
    display: flex;
   
    gap: 2rem;
  }
   
  nav li {
    list-style-type: none;
  }
  
  nav {
    background-color: #00a2c6;
    padding: 5px;
   
    position: sticky;
    top: 0;
  }
   
  main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
  }
   
  #content {
    float: left;
    width: 75%;
  }
   
  header {
    display: inline;
  }
   
  main {
    padding: 20px;
   
    display: flex;
    gap: 1.5rem;
  }
   
   
  #content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
  }
   
  aside {
    flex: 1;
  }
   
